name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: Setup Node.js environment
      uses: actions/setup-node@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.25
        
    - name: Build angular
      run: cd web && npm install && npm run-script build
        
    - name: Test
      run: go test -v ./...
      
    - name: Build go
      run: go build -v ./cmd/go-frame-app/...
